.userTable {
	width: 100%;
	border-collapse: collapse;
}

.userTable th,
.userTable td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: center;
}

.userTable th {
	background-color: #f2f2f2;
}

.addButtonContainer {
	text-align: right;
	margin-bottom: 10px;
}

.addButton {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 15px;
}

.contenedorTitulo{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bolder;
	margin: 10px;
	margin-bottom: 20px;

}

.titulo{
	border-bottom: 1px solid black;
    display: flex;
}

.tabla{
	margin: 0px 30px;
    margin-bottom: 25px;
}

.link {
	margin-top: 2%;
	margin-left: 2.5%;
	padding: 3px 10px;


	text-decoration: none;

	border: 1px solid black;
	border-radius: 5px;

	width: fit-content;

	background-color: #eeee;
	font-size: 20px;
	color: black;
}

.link:hover{
	font-size: 22px;
	box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.2);
}