.contenedor1{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contenedor1_1{
	display: flex;
	justify-content: center;
}

.contenedor2{
	display: flex;
	justify-content: center;
	margin: 0px 30px;
    margin-bottom: 25px;
}

.userTable {
	width: 100%;
	border-collapse: collapse;
}

.userTable th,
.userTable td {
	border: 1px solid black;
	padding: 8px;
	text-align: center;
}

.userTable th {
	background-color: #f2f2f2;
}

.Clink{
	/* border: 1px solid black; */
	display: flex;
	/* width: 80vh; */
	align-items: center;

	margin-top: 20px;
	margin-bottom: 20px;
}

.contenedorTitulo{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bolder;
	margin: 10px;
	margin-bottom: 20px;

}

.titulo{
	border-bottom: 1px solid black;
    display: flex;
	font-size: 60px;
}

.Cbtn{
	display: flex;
	flex-direction: column;
	margin: none;
	padding: none;
}

.btn{
	/* border: 1px solid black; */
	/* margin: 5px; */
	font-weight: bold;
	height: 2em;
}

.btn:hover{
	/* border: 1px solid black; */
	/* margin: 5px; */
	font-weight: bold;
	font-size: 14px;
}

.editUserForm{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 9999; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.editUserForm2{
    border: 1px solid black;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 30em;
    height: 30em;

    padding: none;
}

.editForm{
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 25em;
    height: 25em;

    padding-top: 30px;
}


.nameEdit{
    margin: none;
    font-weight: bolder;
    border-bottom: 3px solid black;

    margin-bottom: 20px;
    margin-top: 40px;
}

.EditLabel{
    padding-right: 10px;
}

.Edit{
    display: flex;

    font-size: 20px;

    margin-bottom: 10px;
    padding: 2px;
}

.EditB{
    margin-top: 40px;

    font-size: 20px;
    font-weight: bold;

    padding: 5px;
}

.link {
	margin-top: 2%;
	margin-left: 2.5%;
	padding: 3px 10px;


	text-decoration: none;

	border: 1px solid black;
	border-radius: 5px;

	width: fit-content;

	background-color: #eeee;
	font-size: 20px;
}

.link:hover{
	font-size: 22px;
	box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.2);
}

	