.cont {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 37em;
	width: 33em;
	margin: 10px;
	overflow: hidden;
	background-color: #030a32;
	border: 1px solid #030a32;
	border-radius: 15px;
	box-shadow: 8px 8px 10px #030a32c2;
	-moz-osx-fond-smoothing: grayscale;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
  }
  
  .cont:hover {
	transform: scale(1.05);
  }
  
  .name {
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
	max-height: fit-content;
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 5px 8px;
	margin: 0;
	margin-bottom: 10px;
  }
  
  .contT {
	display: flex;
	justify-content: center;
	padding: 0;
	margin-bottom: 1px;
	margin-top: 10px;
  }
  
  .imageContainer {
	display: flex;
	height: 20em;
	width: 100%;
	margin-bottom: 10px;
  }
  
  .img {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.886);
  }
  
  .contButtons {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	margin-bottom: 10px;
  }
  
  .addButton {
	margin-right: 10px;
	border: 1px solid black;
	border-top: none;
	border-left: none;
	background-color: white;
	font-weight: bold;
  }
  
  .addButton:hover {
	border: 1px solid black;
	border-top: none;
	border-left: none;
	background-color: #eeee;
	font-size: larger;
	font-weight: bolder;
  }
  
  .disponible {
	width: fit-content;
  }
  
  .dis {
	border-radius: 5px;
	border-top: none;
	border-right: none;
	color: white;
	padding: 1px;
	font-weight: bold;
	height: 1em;
  }
  
  .Countprecio {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 5px;
  }
  
  .precio {
	border-radius: 5px;
	border-top: none;
	border-right: none;
	color: white;
	padding: 1px;
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
	height: 1em;
	text-shadow: 2px 2px 4px rgba(0, 255, 234, 0.888);
  }
  
  .Cdetalle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
  }
  
  .detalle {
	background-color: aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-size: large;
	color: black;
  }
  
  .detalle:hover {
	cursor: pointer;
	box-shadow: 0 0 10px black;
	color: gray;
  }
  