.cont {
	display: flex;
	flex-direction: column;

    height: 30em;
    width: 28em;

    margin: 10px;


	overflow: hidden;

	background-color: #030a32;

	border: 1px solid  #030a32;
	/* border-radius: 15px; */

	-moz-osx-fond-smoothing: grayscale;

	transform: translateZ(0);
	transition: transform 0.25s ease-out;
}

.cont:hover {
	transform: scale(1.05);
}

.name {
	display: flex;
	justify-content: center;
	text-align: center;

	/* border: solid 2px white; */

	width: 100%;
	max-height: fit-content;
	font-size: large;
	font-weight: bold;

	color: white;

	padding: 5px 5px;
	margin: 0;
	margin-bottom: 10px;
}

.contT {
	/* border: 1px solid; */

	display: flex;
	justify-content: center;

	padding: 0;
	margin-bottom: 1px;
}

.Countimg {
	display: flex;

	height: 18em;
	width: 100%;
	
}

.img {
	display: flex;
	height: 100%;
	width: 100%;

    background-color: white;

    /* border: solid 2px green; */

}

.contenedorCart{
	border-top: none;
	border-right: none;
	position: absolute;
	top: 0%;
	left: 0%;

}

.addButton{
	border: 1px solid black;
	border-top: none;
	border-left: none;
	background-color: white;
	height: 2em;

	font-weight: bold;
}

.addButton:hover{
	border: 1px solid black;
	border-top: none;
	border-left: none;
	background-color: #eeee;
	
	font-size: larger;
	font-weight: bolder;

}

.disponible{
	width: fit-content;
}

.dis{
	border-radius: 5px;
	border-top: none;
	border-right: none;
	color: white;

	padding: 1px;
	
	font-weight: bold;
	height: 1em;
}

.Countprecio {


	width: 100%;

	display: flex;
	justify-content: space-around;
	align-items: center;

	margin-top: 10px;
}

.precio {
	border-radius: 5px;
	border-top: none;
	border-right: none;
	/* background-color: white; */
	color: white;

	padding: 1px;

	font-weight: bold;
	height: 1em;
}

.Cdetalle{
	display: flex;
    justify-content: center;
    align-items: center;

	margin: 10px;
}

.detalle {
    background-color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: solid 2px red; */
    border-radius: 10px;

    width: 80%;
    max-height: fit-content;
    font-size: small;

    color: black;

    padding: 2px;

    margin-bottom: 5px;
    margin-top: 10px;
}

.detalle:hover {
	cursor: pointer;

    /* background-color:grey; */
    box-shadow: 0 0 10px black;

	color: gray;
}