.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 20px;
  list-style: none;
  font-style: italic;
  font-size: 25px;
  text-decoration: none;
}

.page-item {
  margin: 0 5px;
  padding: 20px;
  list-style: none;
  color: white;
}

.active {
  border: 3px solid #0df3ff;
  font-weight: bolder;
  background-color: #0df3ff;
  color: #030a32;
  list-style: none;
}

.pagination .page-item {
  display: inline-block;
  margin-right: 10px;
  height: 50px;
  width: 75px;
  background-color: #030a32;
  color: white;
  list-style: none;
  border-radius: 15px
}

.page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  list-style: none;
  text-decoration: none;
}

.next{
  padding: 15px;
  z-index: 3;
  list-style: none;
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #cacad5;
  padding: 2%;
  list-style: none;
}

.disable{
  text-decoration: none;
  list-style: none;
  background-color: grey;
  color: rgb(59, 59, 59);
}

.next:disabled::marker{
  text-decoration: none;
  z-index: 1;
  list-style: none;
}