.home{
    background-color: aliceblue;
}

.orfilbtn{
    padding: 5px 10px;
    margin: 0 2px;
    border: 2px solid rgb(29, 0, 63);
    border-radius: 10px;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.orfilbtn:hover{
    cursor: pointer;
    border: 3px solid rgb(29, 0, 63);
    color: rgb(29, 0, 63);
    font-weight: bold;
    transition: 0.2s;
}