.containerSwiper {
  /* background: #111; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 10px;
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}


.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0));
}