.container {
	padding: 5em;
	
	display: grid;
	grid-template-columns: 2fr 1fr; /* 2/3 y 1/3 del ancho */
	grid-template-rows: repeat(4, auto); /* 4 filas de altura automática */
	grid-gap: 20px;
	margin-bottom: 20px;
}

.backLink {
	grid-column: 1 / span 2; /* Ocupa 2 columnas */
	grid-row: 1; /* Se ubica en la primera fila */

	border: 2px solid black;	
	width: fit-content;
	padding: 2px 10px;
	font-size: 25px;
}

.CountAll{
    
    border: 2px solid rgb(29, 0, 63);
    border-radius: 20px;
    /* width: ; */
    
    padding: 15px 40px;
    
}

.CountImg{
    
    /* border: 2px solid; */

    height: 500px;
    width: 300px;
    
    margin: 25px 40px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.btn{
    border: 1px solid rgb(29, 0, 63);
    border-radius: 10px;
    
    display: flex;
    justify-content: start;
    
    width: 100%;
    
    padding: 0 5px;
}

.details {
	display: grid;
	grid-gap: 10px;
	border-left: 2px solid black;	
	padding: 25px;
}

.btnTitulo{
    /* border: 1px solid black; */
    
    display: flex;
    justify-content: center;

    width: fit-content;

    font-size: xx-large;

    padding: auto;
}

.price {
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid black;	
}

.category {
	font-size: 16px;
	border-bottom: 1px solid black;				
}

.description {
	grid-column: 1 / span 2; /* Ocupa 2 columnas */
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.description p:first-child {
	text-decoration: underline;
	margin-bottom: 10px;
}

.description p:last-child {
	text-decoration: none;
}

/* Estilos para el enlace de "Atrás" */
.backLink a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.backLink a:hover {
	text-decoration: underline;
}

.sub {
	text-decoration: underline;
}

.btnPagar{
    width: 5em;

    font-size: 30px;
}